h1 {
  font-family: Lato, sans-serif;
  font-weight: 100;
  /*text-transform: uppercase;*/
  letter-spacing: -2px;
}

nav {
  margin-top: 20px;
  font-family: Lato, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
}
