<header class="jumbotron">
  <h1 class="container">Ol&rsquo; Sport&rsquo;s Ol&rsquo; Auction House, Ol&rsquo; Sport!</h1>

  <nav class='navbar navbar-default container' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'auction'}}Home{{/link-to}}</li>
    </ul>
  </nav>
</header>

<div class='container'>

  {{outlet}}

</div>
