<h2>New Lot</h2>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input value=title id="title" class="form-control"}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{textarea value=description id="description" class="form-control" rows="15"}}
  </div>
</form>
